<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aggregator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <header>
        <a href="#" alt="Strona główna">Project MLEKO</a>
    </header>
 
    <nav>
        <div><a href="#">Strona główna</a></div>
        <div><a href="#">Funkcja</a></div>
        <div><a href="#">Panel administratora</a></div>
        <div><a href="#">Logowanie</a></div>  
    </nav>
    <br>a
    <br>a
    <br>a
    <br>a
    <br>a
    <br>a
    <br>a
    <br>a<br>a
    <br>a
    <br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
    
    <footer>
        
    </footer>
    
    

</body>
</html>