<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Container</title>
    </head>
    <body>
        <div>Container</div>
        <br/>
        Id: <th th:text="${id}"></th> <br/>
        Name:  <th th:text="${name}"></th><br/>
        <div>Tests:</div>
        <table border="2">
            <tr th:each="test : ${tests}">
                <td th:text="${test.id}"></td>
                <td th:text="${test.stringValue}"></td>
                <td><a th:href="@{/persistance/test(id=${test.id})}">LINK</a></td>
            </tr>
        </table>
    </body>
</html>